.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid salmon;
    width: 25%;
    padding: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px;){
    .container{
        width: 100%;
    }
}